#aside-left {
  background-color: #000000;
  color: white;
}
#aside-left I {
  width: 20px;
  height: 20px;
  padding: 0px;
}
#aside-left p {
  margin-bottom: 0px;
}
#aside-left #backtohome {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#aside-left #backtohome a {
  color: inherit;
  text-decoration: none;
}

#container {
  width: 99%;
}

#aside-left {
  height: 90vh;
}

#playlist {
  height: 65vh;
  overflow: auto;
}
#playlist p {
  margin-top: 3px;
  margin-left: 15px;
}

#centro {
  overflow: auto;
}

#aside-right {
  background-color: #000000;
  color: white;
}
#aside-right img {
  border-radius: 50%;
}
#aside-right p {
  margin-block: 0px;
  font-size: x-small;
}
#aside-right #music-i {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6a6969;
}

::-webkit-scrollbar-track {
  background-color: rgba(224, 224, 224, 0);
}

.volume-control {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

#volume-range {
  width: 100px;
  margin: 0 10px;
}

#wallpaper-img {
  width: 100%;
  background-image: url("assets/imgs/WALAPAPER.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#parte_sotto_img {
  background: linear-gradient(to right, #161616, #000000);
}

#parte_sotto_img_2 {
  background: linear-gradient(to right, #161616, #000000);
}

#wallpaper-img h1 {
  font-weight: bold;
  font-size: 70px;
}

.delete {
  display: none;
}

.hidden {
  display: none;
}

#searchBar {
  position: absolute;
  top: 50%;
  margin-top: -320px;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: linear-gradient(to bottom, #1ed760, #000000);
  padding: 10px;
  text-align: center;
  animation: slideDown 0.5s ease forwards;
  z-index: 9;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (max-width: 576px) {
  #music-player {
    display: none;
  }
}

#music-player {
  color: white;
  background-color: #161616;
  width: 100%;
}
#music-player img {
  border-radius: 5px;
}

.row .col-4 {
  align-items: center;
}
.row .col-4 p {
  font-weight: bold;
  margin-left: 3px;
}

#iconVer {
  color: blue;
}

#cardIn {
  background: linear-gradient(to right, black, #161616);
  transition: background-color 1s ease;
}

#cardIn:hover {
  background: linear-gradient(to right, #161616, #4d4d4d);
  transition: background-color 1s ease;
}

#playBones {
  background-color: #1ED760;
}

#sos .col-8 {
  background: linear-gradient(to right, rgb(61, 61, 61), #161616);
  transition: background-color 1s ease;
}
#sos .col-8 p:hover {
  font-size: bold;
}
#sos .col-8:hover {
  background: linear-gradient(to right, rgb(111, 111, 111), #4d4d4d);
  transition: background-color 1s ease;
  cursor: pointer;
}

#album-tracks .row:hover {
  border-radius: 10px;
  background: linear-gradient(to right, rgba(111, 111, 111, 0.492), rgba(77, 77, 77, 0.4196078431));
}

#albumlevate div:hover {
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(111, 111, 111, 0.492), rgba(77, 77, 77, 0.4196078431));
}
#albumlevate div:hover p {
  font-weight: bold;
}

#title {
  font-size: 80px;
}

#hover .mt-1:hover i {
  font-size: 25px;
}
#hover .mt-1:hover p {
  font-weight: bold;
}

#cardalbum3:hover {
  background: linear-gradient(to right, rgb(111, 111, 111), #4d4d4d);
  transition: background-color 1s ease;
}

#cardalbum1:hover {
  background: linear-gradient(to right, rgb(111, 111, 111), #4d4d4d);
  transition: background-color 1s ease;
}

#cardalbum2:hover {
  background: linear-gradient(to right, rgb(111, 111, 111), #4d4d4d);
  transition: background-color 1s ease;
}

#wallpaper-img {
  background-position-y: 27%;
}

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover,
#card5:hover,
#card6:hover,
#card7:hover,
#card8:hover,
#card9:hover,
#card10:hover,
#cardw:hover,
#cardx:hover,
#cardy:hover,
#cardz:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(111, 111, 111), #4d4d4d);
  transition: background-color 1s ease;
}

#levate {
  cursor: pointer;
}
#levate .mt-1:hover {
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(111, 111, 111, 0.492), rgba(77, 77, 77, 0.4196078431));
}
#levate .mt-1:hover p {
  align-self: center;
  font-weight: bold;
}

#songIn {
  font-size: 2em;
  cursor: pointer;
}
#songIn:hover {
  font-size: 2.5em;
  transition: font-size 0.5s ease;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(34, 35, 36);
}

audio::-webkit-media-controls-play-button {
  background-color: #1ed760;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: #848484;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #848484;
}

audio::-webkit-media-controls-timeline {
  border-radius: 40px;
  background-color: rgb(25, 26, 27);
}

audio::-webkit-media-controls-volume-slider {
  background-color: rgb(25, 26, 27);
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

audio::-webkit-media-controls-mute-button {
  background-color: rgb(25, 26, 27);
  border-radius: 50%;
}

#momo,
#federico,
#giulia,
#angi,
#salvatore,
#guido {
  cursor: pointer;
}
#momo:hover,
#federico:hover,
#giulia:hover,
#angi:hover,
#salvatore:hover,
#guido:hover {
  font-weight: bold;
  padding-top: 0.8em;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(111, 111, 111, 0.492), rgba(77, 77, 77, 0.4196078431));
}

.dropdown-item:hover {
  background-color: #4d4d4d;
}

#saveBut:hover {
  color: black;
  background-color: #757a78;
  animation: anSaMo 0.9s ease-in;
}

@keyframes anSaMo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#playBones:hover {
  animation: anSaMo 0.9s ease-in;
}

#tutti-mobile {
  background-color: #1ED760;
}

.bottone-mobile {
  background-color: #161616;
}

#footer-mobile {
  background-color: rgba(10, 10, 10, 0.4);
  position: fixed;
  bottom: 0;
  z-index: 100;
}

@media screen and (max-width: 576px) {
  #music-media-player-mobile {
    display: block;
    position: fixed;
    bottom: 25px;
  }
}

#home-and-search {
  background-color: rgb(18, 18, 18);
}

#library {
  background-color: rgb(18, 18, 18);
}

#main-container {
  background-color: rgb(79, 79, 79);
}

.playlist-item:hover {
  background-color: rgb(40, 40, 40);
}
.playlist-item .div-item {
  background-color: rgb(40, 40, 40);
}

.item-menu {
  background-color: rgb(40, 40, 40);
  position: absolute;
  height: 160px;
  left: 0;
  top: 0;
  z-index: 1;
  bottom: 10px;
  border-radius: 0.1em;
}
.item-menu p:nth-of-type(1) {
  margin-top: 0.6em;
}
.item-menu p {
  margin-bottom: 0.4em;
  padding: 0.2em 1em;
  display: inline-block;
  cursor: pointer;
}
.item-menu p:hover {
  background-color: rgb(79, 79, 79);
}

#footer-profile {
  background-color: rgb(18, 18, 18);
}
#footer-profile #copyright {
  font-size: 0.8rem;
}
#footer-profile #second-ul li {
  font-size: 0.8rem;
  margin-bottom: 0.3em;
}

#profile-playlist {
  background-color: rgb(18, 18, 18);
}

.pointer {
  cursor: pointer;
}

#library {
  overflow: auto;
}

#rowProfile {
  height: 100vh;
}
#rowProfile .col-12 {
  height: 95.5%;
  overflow-y: scroll;
}

#form-container {
  width: 75%;
}
@media screen and (min-width: 576px) {
  #form-container {
    width: 50%;
  }
}
@media screen and (min-width: 1108px) {
  #form-container {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */