.row{
    .col-4{
        align-items: center;
        p{
            font-weight: bold;
            margin-left: 3px;
        }
    }
}

#iconVer{
    color: blue;
}

#cardIn{
    
  background: linear-gradient(to right, black, #161616);
}
#title{
    font-size: 80px;
}