#aside-left{
    background-color: $black-color;
    color: white;
    I{
        width: 20px;
        height: 20px;
        padding: 0px;
    }
    p{
        margin-bottom: 0px; 
    }
}

#aside-left {
    height: 90vh;
  }
  
  #playlist{
    height: 65vh;
    overflow: auto;
  }
  
  #centro {
    height: 90vh;
    overflow: auto;
  }
  
  
  
  body > #container > .row {
    width: 100%;
  }






#aside-right{
    background-color: $black-color;
    color: white;
    img{
        border-radius: 50%;
    }
    p{
        margin-block: 0px;
        font-size:x-small
    }
    #music-i{
        width: 14px;
        height: 14px;
        margin-right: 3px;
    }
}