#aside-left{
    background-color: $black-color;
    color: white;
    height: 100vh;
    I{
        width: 20px;
        height: 20px;
        padding: 0px;
    }
    p{
        margin-bottom: 0px; 
    }
}