#aside-left{
    background-color: $black-color;
    color: white;
    I{
        width: 20px;
        height: 20px;
        padding: 0px;
    }
    p{
        margin-bottom: 0px; 
    }
}
#container{
    width: 99%;
}
#aside-left {
    height: 90vh;
  }
  
  #playlist{ 
    height: 65vh;
    overflow: auto;
    p{
        margin-top: 3px;
        margin-left: 15px;
    }
  }
  
  #centro {
    height: 90vh;
    overflow: auto;
  }
  
  
  

#aside-right{
    background-color: $black-color;
    color: white;
    img{
        border-radius: 50%;
    }
    p{
        margin-block: 0px;
        font-size:x-small
    }
    #music-i{
        width: 14px;
        height: 14px;
        margin-right: 3px;
    }
}

body{
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6a6969; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e0e0e000;
  }


  .volume-control {
    display: flex;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

#volume-range {
    width: 100px;
    margin: 0 10px;
}