#home-and-search {
  background-color: rgb(18, 18, 18);
}

#library {
  background-color: rgb(18, 18, 18);
}

#main-container {
  background-color: rgb(79, 79, 79);
}

.playlist-item {
  &:hover {
    background-color: rgb(40, 40, 40);
  }
  .div-item {
    background-color: rgb(40, 40, 40);
  }
}

.item-menu {
  background-color: rgb(40, 40, 40);
  position: absolute;
  height: 160px;
  left: 0;
  top: 0;
  z-index: 1;
  bottom: 10px;
  border-radius: 0.1em;
  p:nth-of-type(1) {
    margin-top: 0.6em;
  }
  p {
    margin-bottom: 0.4em;
    padding: 0.2em 1em;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: rgb(79, 79, 79);
    }
  }
}

#footer-profile {
  background-color: rgb(18, 18, 18);

  #copyright {
    font-size: 0.8rem;
  }
  #second-ul li {
    font-size: 0.8rem;
    margin-bottom: 0.3em;
  }
}

#profile-playlist {
  background-color: rgb(18, 18, 18);
}

.pointer {
  cursor: pointer;
}

#library {
  overflow: auto;
}

#rowProfile {
  height: 100vh;
  .col-12 {
    height: 95.5%;
    overflow-y: scroll;
  }
}

#form-container {
  width: 75%;
  @media screen and (min-width: 576px) {
    width: 50%;
  }
  @media screen and (min-width: 1108px) {
    width: 40%;
  }
}

#username {
  font-size: 3em;
  @media screen and (min-width: 768px) {
    font-size: 4.5em;
  }
}
